<div class="card mt-2">
    <div class="card-header">
        Employee Details
    </div>
    <div class="card-body">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">
                Name: <h5>Manuel Perez</h5>
                Email: <h5>mperez@gmail.com</h5>
                Start date: <h5>01/02/2021</h5>    
            </li>
        </ul>
    </div>
    <div class="btn-group" role="group">
        <button type="button" class="btn btn-warning m-1 btn-sm">Edit</button>
        <button type="button" class="btn btn-danger m-1 btn-sm">Delete</button>
    </div>
</div>

<button type="button" class="btn btn-secondary mt-2">Go Back to list</button>
{{value | json}}